body {
    font-family: "Helvetica";
    background-color: grey;
    overflow:hidden;
}

canvas.editorCanvas{
    width: 70%;
    height: 80%;
    user-select: none;
}
#toolbox{
    position: absolute;
    top: 0;
    right: 0;
    background-color: grey;
    width: 30%;
    height: 100%;
}
#toolbox_content{
    margin-left: 10px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
#toolbox_content input{
    margin-right:5px;
}
#toolbox_content div select{
    display: block;
}
#toolbox_content div.toolbox_div{
    display: table-cell;
}
#add_entity_button{
    display: block;
}
#library{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #AEAEAE;
    width: 70%;
    height: 20%;
}
#library section{
    margin-left: 5px;
    float:left;
}
#entity_selection input{
    margin-top:6px;
    width: 205px;
    display: block;
}
#asset_selection{
    width: 205px;
    border-right: 1px solid black;
}
#clear_selection_button{
    position: relative;
    top: 5px;
    left: 5px;
}
#sprite_preview{
    margin-left: 20px;
    display: block;
    max-width: 140px;
    max-height: 140px;
}
#used_elements{
    overflow-y: auto;
    height: 458px;
}
#message_box{
    font-size: small;
}
.error_message{
    color: red;
}
#details_box{
    display: none;
}
#elements_list li{
    cursor: pointer;
    list-style: none;
}
#elements_list li:hover{
    color: red;
}
#winConditionsPanel{
    display: inline-block;
    width:450px;
    background-color: #696969;
    margin-left: -10px;
    height: 60%;
}
.panelInactive{
    width: 20px !important;
}
#winConditionsPanel h2{
    margin-left:10px;
}
#winConditionsPanel span{
    float: right;
    margin-top: 350px;
    margin-right: 2px;
    cursor: pointer;
}
#winConditionsPanelContent{
    display:inline-block;
    width:420px;
}
#elementsListPanel{
    display: inline-block;
    width:95%;
}
#elementsListPanel *{
    margin-left: 10px;
}
#details_box input{
    width: 60px;
}

#editorRoot{
    width: 29%;
}

#Editor{
    width: 100%;
}

#EditorMenu{
    display : block;
    position: absolute;
    background-color: gray;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;

    *{
        margin-left : 5px;
    }

    input, select{
        width: 130px;
    }

    input[type=file]{
        width : auto;
    }

    h3{
        cursor: pointer;
    }
}

#EditorProps{
    position: absolute;
    left: 0;
    top : 80%;
    width : 70%;
    height: 20%;
    background-color: #AEAEAE;

    td:last-of-type{
        text-align: right;
    }

    input, select{
        width : 120px;
    }

    section{
        display: inline-block;
        vertical-align: top;
    }

}

.hidden{
    display: none;
}

#creationWindow{
    position : absolute;
    left : 50%;
    transform : translate(-50%, -50%);
    top : 35%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);

    table{
        padding: 10px;
    }
}

.entityIDcell{
    cursor : pointer;
}

#sceneElements{
    margin : 0;
    width: 99%;
    height: 68%;
    overflow-y : auto;
    input[type=button]{
        width: auto;
        margin: 1px;
    }
}